[submodule "OsiriX-API"]
	path = DicomUnEnhancer/ThirdParty/OsiriX-API
	url = git@github.com:aglv/OsiriX-API.git
[submodule "DCMTK"]
	path = DicomUnEnhancer/ThirdParty/DCMTK
	url = git@github.com:DCMTK/dcmtk.git
[submodule "libtiff"]
	path = DicomUnEnhancer/ThirdParty/LibTIFF
	url = git@gitlab.com:libtiff/libtiff.git
[submodule "OpenJPEG"]
	path = DicomUnEnhancer/ThirdParty/OpenJPEG
	url = https://github.com/uclouvain/openjpeg.git
