[submodule "OsiriX-API"]
	path = OsiriX-API
	url = git@github.com:aglv/OsiriX-API.git
[submodule "DCMTK"]
	path = DCMTK
	url = git@github.com:aglv/DCMTK.git
[submodule "libtiff"]
	path = libtiff
	url = git@gitlab.com:libtiff/libtiff.git
[submodule "OpenJPEG"]
	path = OpenJPEG
	url = https://github.com/uclouvain/openjpeg.git
